<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Developer' Blog{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3 fixed-top mb-5" style="background-color: #e3f2fd;">
        <a class="navbar-brand ms-4" href="{% url 'books_tech:home_view' %}">My Developer' Blog</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

            <!-- Itens da esquerda -->
            <ul class="navbar-nav mx-4">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'books_tech:add_post' %}">Nova Postagem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books_tech:add_categoria' %}">Nova Categoria</a>
                </li>
            </ul>

            <!-- Itens da direita -->
            <ul class="navbar-nav  mx-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit_profile' %}">Editar Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="py-4 opacity-0"></div>
    {% block content %}
    {% endblock %}


    <!--Rodapé-->
    <div class="bg-primary py-4 opacity-0"></div>
    <footer class="bg-dark text-light pt-2 fixed-bottom">
        <div class="container text-center">
            <p>&copy; 2026 Books Tech. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    </script>
</body>

</html>