{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container my-4">
        <h1 class="mb-4">Deletar Postagem</h1>
        <br>
        <h3>Deletar: {{ post.titulo}} <h3>
        <div class="form-group"></div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} <br><br>
                <strong>Tem certeza que deseja deletar esse post?</strong><br>
                <button type="submit" class="btn btn-danger mt-2">Deletar Post</button>
            </form>
        </div>
    </div>
</body>

{% endblock %}