<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Tech</title>
</head>
<body>
{% block conteudo %}

    {% if usuario.is_authenticated %}
        <h1>Bem vindo {{usuario.username}}, a página inicial do blog!</h1>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    {% else %}
        <h1>Você não está logado!</h1>
        <button><a href="{% url 'login' %}">Login</a></button>
    {% endif %}

{% endblock conteudo %}
</body>
</html>