{% extends 'base.html' %}
{% load static %}

{% block title %}Seu Perfil{% endblock %}

{% block content %}
<div class="container my-5">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm p-4">
                <h3 class="text-center mb-4">Seu Perfil de Autor</h3>

                <!-- Foto do autor -->
                <div class="text-center mb-3">
                    {% if form.instance.foto %}
                        <img src="{{ form.instance.foto.url }}"
                             class="rounded-circle"
                             style="width: 150px; height: 150px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'books_tech/img/icon_image.png' %}"
                             class="rounded-circle"
                             style="width: 150px; height: 150px; object-fit: cover;">
                    {% endif %}
                </div>

                <!-- Início do formulário -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Foto</label>
                        {{ form.foto }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Biografia</label>
                        {{ form.bio }}
                    </div>


                    <div class="mb-3">
                        <label class="form-label">Redes Sociais</label>
                        {{ form.redes_sociais }}
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary px-4">Salvar Alterações</button>
                    </div>

                </form>
            </div>
            <br>
            <a href="{% url 'books_tech:home_view' %}" class="btn btn-secondary mb-3 text-light">Voltar</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
